  <table>
  <thead>
      <tr>
        <td>Name   </td>
        <td>Color   </td>
        <td>Birth Date  </td>
        <td>Sex   </td>
      </tr></thead>
    <tbody>
  
      <tr>
        <td><%= @cat.name%></td>
        <td><%= @cat.color%></td>
        <td><%= @cat.birth_date%></td>
        <td><%= @cat.sex%></td>
      </tr>
    </tbody>
  </table> 